<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.SimpaduApp"
        tools:targetApi="31">

        <activity
            android:name=".ui.screen.profile.view.AboutUsActivity"
            android:exported="false"
            android:label="AboutUsActivity"
            android:theme="@style/Theme.SimpaduApp"/>

        <activity
            android:name=".ui.screen.profile.view.TermandConditionsActivity"
            android:exported="false"
            android:label="TermandConditionsActivity"
            android:theme="@style/Theme.SimpaduApp"/>

        <activity
            android:name=".ui.screen.profile.view.ChangePasswordActivity"
            android:exported="false"
            android:label="ChangePasswordActivity"
            android:theme="@style/Theme.SimpaduApp"/>

        <activity
            android:name=".ui.screen.profile.view.ContactUsActivity"
            android:exported="false"
            android:label="ContactUsActivity"
            android:theme="@style/Theme.SimpaduApp"/>

        <activity
            android:name=".ui.screen.profile.view.FaqActivity"
            android:exported="false"
            android:label="FaqActivity"
            android:theme="@style/Theme.SimpaduApp"/>

        <activity
            android:name=".ui.screen.profile.view.PrivasiPolicyActivity"
            android:exported="false"
            android:label="PrivasiPolicyActivity"
            android:theme="@style/Theme.SimpaduApp"/>

        <activity
            android:name=".ui.screen.profile.view.EditProfileActivity"
            android:exported="false"
            android:label="EditProfileActivity"
            android:theme="@style/Theme.SimpaduApp"/>

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.SimpaduApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>